      <!-- Line break -->
      <div class="h-0.5 bg-gray-300 my-10"></div>

      <!-- Footer -->
       <footer>
          <section class="flex justify-between">
            <h1 class="font-bold text-3xl">Sign up to our newsletter</h1>
            <form action="" method="post" class="space-x-5">
              <input type="email" name="email" id="" placeholder="Enter your email" class="border-2 border-gray-300 focus:outline-gray-400 h-10 w-52 rounded-lg py-4 px-2">
              <button type="submit" class="bg-black text-white rounded-lg h-10 px-4 font-bold cursor-pointer hover:bg-gray-700 transition">Submit</button>
            </form>
          </section>
          <p class="text-gray-500 text-lg my-6">Stay up to date with the latest new, announcements and articles.</p>
          <section class="flex justify-between">
            
            <div class="space-y-8 w-3/12">
              <!-- Company Logo -->
              <div class="font-bold text-xl flex items-center space-x-1">
                <img src="/SVG icons/circle-outline-shape-svgrepo-com.svg" alt="" class="h-6 w-6">
                <p>myBlog</p>
              </div>

              <!-- Pledge -->
              <p class="text-[16px] text-gray-500">Design amazing digital experiences that create's more happiness in the world.</p>
            </div>

          <!-- Contact Info -->
          <div class="grid grid-cols-5 w-8/12">

            <div class="font-bold">
              <ul class="space-y-2">
                <li class="text-gray-400">Product</li>
                <li class="text-lg"><a href="">Overviews</a></li>
                <li class="text-lg"><a href="">Features</a></li>
                <li class="text-lg"><a href="">Solutions</a></li>
                <li class="text-lg"><a href="">Tutorial</a></li>
                <li class="text-lg"><a href="">Pricing</a></li>
                <li class="text-lg"><a href="">Releases</a></li>
              </ul>
            </div>

            <div class="font-bold">
              <ul class="space-y-2">
                <li class="text-gray-400">Product</li>
                <li class="text-lg"><a href="">Overviews</a></li>
                <li class="text-lg"><a href="">Features</a></li>
                <li class="text-lg"><a href="">Solutions</a></li>
                <li class="text-lg"><a href="">Tutorial</a></li>
                <li class="text-lg"><a href="">Pricing</a></li>
                <li class="text-lg"><a href="">Releases</a></li>
              </ul>
            </div>

            <div class="font-bold">
              <ul class="space-y-2">
                <li class="text-gray-400">Product</li>
                <li class="text-lg"><a href="">Overviews</a></li>
                <li class="text-lg"><a href="">Features</a></li>
                <li class="text-lg"><a href="">Solutions</a></li>
                <li class="text-lg"><a href="">Tutorial</a></li>
                <li class="text-lg"><a href="">Pricing</a></li>
                <li class="text-lg"><a href="">Releases</a></li>
              </ul>
            </div>

            <div class="font-bold">
              <ul class="space-y-2">
                <li class="text-gray-400">Product</li>
                <li class="text-lg"><a href="">Overviews</a></li>
                <li class="text-lg"><a href="">Features</a></li>
                <li class="text-lg"><a href="">Solutions</a></li>
                <li class="text-lg"><a href="">Tutorial</a></li>
                <li class="text-lg"><a href="">Pricing</a></li>
                <li class="text-lg"><a href="">Releases</a></li>
              </ul>
            </div>

            <div class="font-bold">
              <ul class="space-y-2">
                <li class="text-gray-400">Product</li>
                <li class="text-lg"><a href="">Overviews</a></li>
                <li class="text-lg"><a href="">Features</a></li>
                <li class="text-lg"><a href="">Solutions</a></li>
                <li class="text-lg"><a href="">Tutorial</a></li>
                <li class="text-lg"><a href="">Pricing</a></li>
                <li class="text-lg"><a href="">Releases</a></li>
              </ul>
            </div>






          </div>

        </section>


          
            <!-- Line break -->
            <div class="h-0.5 bg-gray-300 my-10"></div>

            <section class="flex justify-between mb-7">
              <p>&copy; 2025 myBlog. All rights reserved</p>
              <ul class="flex space-x-5">
                  <!-- Twitter -->
                 <li><a href="">
                <img src="/SVG icons/twitter-logo-fill-svgrepo-com.svg" alt="" class="w-8 h-8">
              </a></li>
                  <!-- LinkedIn -->
                 <li><a href="">
                   <img src="/SVG icons/linkedin-fill-svgrepo-com.svg" alt="" class="w-8 h-8">
                 </a></li>
                 <!-- Instagram -->
                 <li><a href="">
                  <img src="/SVG icons/instagram-svgrepo-com.svg" alt="" class="w-8 h-8">
                 </a></li>
                 <!-- Github -->
                 <li><a href="">
                  <img src="/SVG icons/github-142-svgrepo-com.svg" alt="" class="w-8 h-8">
                 </a></li>

              </ul>
            </section>

       </footer>
    </main>
  </body>
</html>
